<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row mt-2">
    <div class="col-8 offset-2">
      <br /><br />
      <h1>Create New Listing</h1>
      <form
        method="POST"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Add a Catchy Title"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Title is Required</div>
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Describe the listing here..."
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Description Should Not Be Empty</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input type="file" name="listing[image]" class="form-control" />
        </div>
        Or
        <div class="mb-3">
          <label for="image" class="form-label">Enter an URL</label>
          <input
            type="string"
            name="listing[image][url]"
            class="form-control"
          />
          <div class="invalid-feedback">Enter A Valid Image URL</div>
        </div>
        <div class="mb-3">
          <label for="Category" class="form-label">Specify The Category</label>
          <div class="dropdown">
            <input
              type="text"
              class="form-control dropdown-toggle"
              id="categoryInput"
              placeholder="Select a category"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              name="listing[category]"
            />
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button">Trending</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Lodge</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Iconic Cities
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Mountain-city
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Beaches</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Amazing Pools
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Castles</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Camping</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Towers</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Boats</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price Must Be Entered</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter A Valid Country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Jaipur, Rajasthan"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Specify the Location</div>
        </div>
        <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
      </form>
    </div>
  </div>
</body>
